<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
  <title>Address</title>
  </head>

  <body>
  <center><h3>Address INFO</h3><center><br>
  <a href="/address/add"><button type="Submit" name="Add">Add New Address</button></a>
  <br><br>
  <form action="/address" method="POST">
  <center>
  <table>
    <tr>
      <th>ID</th>
      <th>Street</th>
      <th>City</th>
      <th>Zip Code</th>
      <th>User Id</th>
      <th>Username</th>
      <th colspan='2'><center>Option</center></th>
    </tr>
    <!-- <%=JSON.stringify(dataAddress)%> -->
    <% dataAddress.forEach(address =>{%>
    <tr>
      <td><%= address.id %></td>
      <td><%= address.street %></td>
      <td><%= address.city %></td>
      <td><%= address.zipcode %></td>
      <td><%= address.user_id %></td>
      <td><%= address.username %></td>
      <td><a href="/address/edit/<%=address.id%>"><button type="button" name="Edit">EDIT</button></a></td>
      <td><a href="/address/delete/<%=address.id%>"><button type="button" name="Delete">DELETE</button></a></td>
      </tr>
      <%})%>
    </table>
  </center>
    </form>
  </body>
</html>
